<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>GitHub Activity Feed</title>
</head>
<body>
  <div class="container">
    <h1>Repository Activity Feed</h1>
    <p class="subtitle">
      Live updates from <a href="https://github.com/Infamous003/action-repo">action-repo</a> GitHub repository, refreshed every 15 seconds.
    </p>

    <ul class="list-js"></ul>
  </div>

  <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>

</html>